body
{
    background:linear-gradient(to right ,#FBFBF2,white) ;
    background-attachment: fixed;
    text-align: left;
    font-family: 'works family';
    font-size: 16px;
    transition: all 3s;
}
#cabecera{
    
    background:#b1aeae;
    border-radius: 15px;
    border: #b1aeae;
    box-sizing: 5px;
    box-shadow: #b1aeae;
    margin: 15px;
}
.img-fluid {

justify-content: center;
border-radius: 15px 15px;
 width: 300px; 
 height: 100px;
 margin: 5px 15px; 
 padding: 10px;
}



.carousel slide{
border-radius: 15px;
margin: 5px;
height: 600px;
}

form{
    width: 395px;
    height: 600px;
    margin:15px;
    padding: 15px ;
    overflow: hidden;
    text-align: center;
    background-color: #b1aeae;
    border-radius: 15px 15px;
    box-shadow: #333;
    
}

#primer-texto{
    color: black; 
     font-family: work sans;
     font-weight: 600;
     font-size: 50px;
      padding: 15px ;
}

.form-control{
    border-radius: 15px 15px ;
    
}
.corousel{
    margin: 10px;
}

.btn {
    background-color: #39A900;
    border-color: #39A900;
}


