.body{
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    padding: 0; 
    font-family: 'works family';
    font-size: 16px;
    transition: all 3s; 

}


