body {
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'works family';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

#primer-texto {
    color: black;
    font-family: 'work sans';
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 15px;
}

.form-label {
    display: none; /* Oculta las etiquetas de los campos de formulario */
}

.form-control {
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.d-grid {
    display: grid;
    
}

.formtext {
    margin-top: 10px;
}

.btn {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #39A900;
    border-color: #39A900;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #318200;
    border-color: #318200;
}
